name: Update Lean
on:
  schedule:
    - cron: "0 11 * * *"
  workflow_dispatch:

jobs:
  update_lean:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Update Lean project
        uses: leanprover-community/lean-update@main
